.header {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.left {
    display: flex;
}

.right {
    display: flex;
    margin-left: auto;
}

.lower {
    display: flex;
    margin: 10px;
}