.header {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    justify-content: space-between; // Ensure left and right are spread out
    margin: 10px;
}

.left {
    display: flex;
}

.right {
    display: flex;
    margin-left: auto; // This pushes the .right section to the far right
}

.lower {
    display: flex;
    margin: 10px;
}



// .header {
//     flex-direction: column;
// }

// .upper {
//     display: flex;
//     justify-content: flex-end;
//     margin: 10px;
// }

// .left {
//     display: flex;
// }

// .right {
//     display: flex;
// }

// .lower {
//     display: flex;
//     margin: 10px;
// }