.Login {
    background-color: rgb(13, 58, 38);
    color: white;
    display: flex;
}

.form-container {
    margin: 20px auto;
}

.form {
    background-color: rgb(12, 97, 57);
    color: white;
    border-radius: 10px;
    padding: 30px;
}

.earth {
    width: 100px;
    margin: 0 auto;
}

.trouble {
    text-align: center;
}

.link {
    color: rgb(40, 193, 40);
}

.button {
    background-color: green;
}

// Responsive styles
@media screen and (max-width: 768px) {
    .form-container {
        order: 2;
    }

    .earth {
        order: 1;
    }

    .Login {
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .form {
        background-color: rgb(12, 97, 57);
        color: white;
        border-radius: 10px;
        padding: 30px;
    }

    .button {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .form-container {
        margin-top: 20px;
    }
}