.Login {
    background-color: rgb(13, 58, 38);
    color: white;
    display: flex;
}

// .form-item-label {
//     color: white;
// }
.form {
    background-color: rgb(12, 97, 57);
    color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
}

.trouble {
    text-align: center;
}

.button {
    background-color: green;
}