.head {
    display: flex;
    margin-left: 190px;
    width: calc(100% - 200px);
    padding: 10px;

    >div {
        margin-right: 40px;
    }
}

.table {
    margin-left: 140px;
    width: calc(100% - 200px);
    padding: 20px;
}